<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- <import resource="spring_jdbc_transaction.xml" /> -->

	<!-- 自动搜索（指定包及其子包下的所有Bean类）将带有component注解的类自动定义为Spring bean,Spring2.5+ 的bean
		扫描 -->
	<context:component-scan base-package="org.leiyuxin.chapter4.demo" />
	<!--配置一个代理  -->
	<bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
	<!-- 	<property name="interfaces" value="org.leiyuxin.chapter4.demo.aop.Greeting"></property> --><!-- 需要代理的接口  代理接口只能为一个-->
		<property name="interfaces" value="org.leiyuxin.chapter4.demo.aop.Apology"></property><!--如果没有对类的增强无须配置接口否则就必须配  -->
		<property name="target" ref="greetingImpl"></property><!--接口实现类 或者目标类 -->
		<!-- <property name="interceptorNames"> 拦截器的名称 （也就是增强类的名称，Spring Bean 的ID）
			<list>
				<value>greetingAroundAdvice</value>
				<value>greetingThrowAdvice</value>
				<value>greetingIntroAdvice</value>引入增强类
			</list>
		</property> --><!--
		<property name="interceptorNames" value="greetingAdvisor"> -->
	   <property name="interceptorNames">
		<list>
		<value>greetingIntroAdvice</value> <!--引入增强类  -->
		<value>greetingAdvisor</value>
		<value>greetingThrowAdvice</value>
		</list>
		</property>
		<property name="proxyTargetClass" value="true"></property> <!--代理目标类（默认为false），代理接口  -->
	</bean>
	<!-- 配置一个切面 切点 增强 三个配合 -->
	<bean id="greetingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice" ref="greetingAroundAdvice"></property>
		<property name="pattern" value="org.leiyuxin.chapter4.demo.aop.GreetingImpl.good.*"></property><!-- 切点正则表达式 -->
	</bean>

	<!-- <bean id="userDao" class="com.iflysse.dao.impl.UserDaoImpl" > <property
		name="dataSource" ref="dataSource"></property> </bean> <bean id="userService"
		class="com.iflysse.service.impl.UserServiceImpl" p:userDao-ref="userDao">
		</bean> <bean id="indexAction" class="com.iflysse.action.IndexAction" scope="prototype">
		<property name="userService" ref="userService"></property> </bean> -->
</beans>


